<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
    <table border="1">
        <caption> Таблица всех пользователей</caption>
        <th:block th:each="msg : ${allUsers}">
            <tr>
                <td>
                    <h3 th:text="${msg}"></h3>
                    <center><a th:href="@{/admin/updateUser(username=${msg.username})}" th:text="UPDATE"> user </a>
                        <a th:href="@{/admin/deleteUser(id=${msg.getId()})}" th:text="DELETE"> user </a>
                    </center>
                </td>
            <tr>
        </th:block>
    </table>
    <br>
    <br>
    <input type="button" value="LOGOUT" onclick="window.location.href = '/login'">
    <input type="button" value="ADD" onclick="window.location.href = '/admin/addNewUser'"/>

</center>
</body>
</html>